<h2>Layers</h2>

<%= form_for @flag do |f| %>
  <div id="flag_editor" class="ui-accordion">
    <%= f.fields_for :flag_layers, @flag.flag_layers.reverse do |layer| %>
      <%= render :partial => 'flag_layers/editor', :locals => { :layer => layer } %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>
