<h3>Layers</h3>

<div id="flag_editor">
  <%= form_for @flag do |f| %>
    <%= f.fields_for :flag_layers do |layer| %>
      <%= render :partial => 'flag_layers/editor', :locals => { :layer => layer } %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
