<h2>Flag <%= @flag.id %></h2>

<%= render :file => 'flags/show.svg.erb' %>

<p>
  <%= link_to('Download flag as SVG', flag_path(@flag, :format => 'svg')) %> (Might have to right-click and 'Save as...')
</p>
