// Place all the styles related to the flags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require 'jquery-ui'
*= require 'jquery.colorpicker'
*/

#flag_editor { 

  .layer_settings:after {
    clear: both;
    content: '';
    display: block;
  }

  .ui-state-highlight {
    height: 2.0em;
    line-height: 2.0em;
  }

}
