// Place all the styles related to the flags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require 'jquery-ui'
*= require 'jquery.colorpicker'
*/

#flag_editor { 
  .handle, .color_pickers {
    float: left;
  }
  
  .handle {
    width: 40px;
    border: 1px solid black;
  }
}

#flag_editor .layer_settings:after {
  clear: both;
  content: '';
  display: block;
}
